**/**.pyc
src/paddle-output/runcrash.txt
src/paddle-output/temp.py
src/paddle-output/crash-oracle/fail/paddle.audio.functional.create_dct/1.py
src/paddle-output/crash-oracle/fail/paddle.audio.functional.get_window/1.py
src/paddle-output/crash-oracle/fail/paddle.audio.functional.mel_frequencies/1.py
src/paddle-output/crash-oracle/fail/paddle.audio.load/1.py
src/paddle-output/crash-oracle/fail/paddle.distribution.register_kl/1.py
src/paddle-output/crash-oracle/fail/paddle.full/1.py
src/paddle-output/crash-oracle/fail/paddle.get_flags/1.py
src/paddle-output/crash-oracle/fail/paddle.hub.help/1.py
src/paddle-output/crash-oracle/fail/paddle.iinfo/1.py
src/paddle-output/crash-oracle/fail/paddle.incubate.autograd.disable_prim/1.py
src/paddle-output/crash-oracle/fail/paddle.nn.Upsample/1.py
src/paddle-output/crash-oracle/fail/paddle.ones/1.py
src/paddle-output/crash-oracle/fail/paddle.randint/1.py
src/paddle-output/crash-oracle/fail/paddle.randn/1.py
src/paddle-output/crash-oracle/fail/paddle.static.data/1.py
src/paddle-output/crash-oracle/success/paddle.audio.backends.get_current_backend/1.py
src/paddle-output/crash-oracle/success/paddle.audio.backends.list_available_backends/1.py
src/paddle-output/crash-oracle/success/paddle.audio.functional.fft_frequencies/1.py
src/paddle-output/crash-oracle/success/paddle.device.get_all_custom_device_type/1.py
src/paddle-output/crash-oracle/success/paddle.device.get_all_device_type/1.py
src/paddle-output/crash-oracle/success/paddle.device.get_available_device/1.py
src/paddle-output/crash-oracle/success/paddle.device.get_cudnn_version/1.py
src/paddle-output/crash-oracle/success/paddle.device.get_device/1.py
src/paddle-output/crash-oracle/success/paddle.device.is_compiled_with_cinn/1.py
src/paddle-output/crash-oracle/success/paddle.device.is_compiled_with_cuda/1.py
src/paddle-output/crash-oracle/success/paddle.device.is_compiled_with_mlu/1.py
src/paddle-output/crash-oracle/success/paddle.device.is_compiled_with_rocm/1.py
src/paddle-output/crash-oracle/success/paddle.disable_signal_handler/1.py
src/paddle-output/crash-oracle/success/paddle.distributed.get_rank/1.py
src/paddle-output/crash-oracle/success/paddle.distributed.get_world_size/1.py
src/paddle-output/crash-oracle/success/paddle.distributed.init_parallel_env/1.py
src/paddle-output/crash-oracle/success/paddle.distributed.is_initialized/1.py
src/paddle-output/crash-oracle/success/paddle.empty/1.py
src/paddle-output/crash-oracle/success/paddle.enable_static/1.py
src/paddle-output/crash-oracle/success/paddle.fft.fftfreq/1.py
src/paddle-output/crash-oracle/success/paddle.fft.rfftfreq/1.py
src/paddle-output/crash-oracle/success/paddle.get_cuda_rng_state/1.py
src/paddle-output/crash-oracle/success/paddle.is_grad_enabled/1.py
src/paddle-output/crash-oracle/success/paddle.is_tensor/1.py
src/paddle-output/crash-oracle/success/paddle.linspace/1.py
src/paddle-output/crash-oracle/success/paddle.seed/1.py
src/paddle-output/crash-oracle/success/paddle.set_default_dtype/1.py
src/paddle-output/crash-oracle/success/paddle.set_grad_enabled/1.py
src/paddle-output/crash-oracle/success/paddle.set_printoptions/1.py
src/paddle-output/crash-oracle/success/paddle.to_tensor/1.py
src/paddle-output/crash-oracle/success/paddle.tril_indices/1.py
src/paddle-output/crash-oracle/success/paddle.triu_indices/1.py
src/paddle-output/crash-oracle/success/paddle.uniform/1.py
src/paddle-output/crash-oracle/success/paddle.zeros/1.py
src/paddle-output/cuda-oracle/compare-bug/paddle.audio.functional.fft_frequencies/1.py
src/paddle-output/cuda-oracle/compare-bug/paddle.empty/1.py
src/paddle-output/cuda-oracle/compare-bug/paddle.fft.fftfreq/1.py
src/paddle-output/cuda-oracle/compare-bug/paddle.fft.rfftfreq/1.py
src/paddle-output/cuda-oracle/compare-bug/paddle.linspace/1.py
src/paddle-output/cuda-oracle/compare-bug/paddle.to_tensor/1.py
src/paddle-output/cuda-oracle/compare-bug/paddle.tril_indices/1.py
src/paddle-output/cuda-oracle/compare-bug/paddle.triu_indices/1.py
src/paddle-output/cuda-oracle/compare-bug/paddle.uniform/1.py
src/paddle-output/cuda-oracle/compare-bug/paddle.zeros/1.py
src/paddle-output/cuda-oracle/fail/paddle.audio.load/1.py
src/paddle-output/cuda-oracle/fail/paddle.nn.Upsample/1.py
src/paddle-output/cuda-oracle/potential-bug/paddle.set_grad_enabled/1.py
src/paddle-output/cuda-oracle/success/paddle.audio.backends.get_current_backend/1.py
src/paddle-output/cuda-oracle/success/paddle.audio.backends.list_available_backends/1.py
src/paddle-output/cuda-oracle/success/paddle.audio.functional.create_dct/1.py
src/paddle-output/cuda-oracle/success/paddle.audio.functional.get_window/1.py
src/paddle-output/cuda-oracle/success/paddle.audio.functional.mel_frequencies/1.py
src/paddle-output/cuda-oracle/success/paddle.device.get_all_custom_device_type/1.py
src/paddle-output/cuda-oracle/success/paddle.device.get_all_device_type/1.py
src/paddle-output/cuda-oracle/success/paddle.device.get_available_device/1.py
src/paddle-output/cuda-oracle/success/paddle.device.get_cudnn_version/1.py
src/paddle-output/cuda-oracle/success/paddle.device.get_device/1.py
src/paddle-output/cuda-oracle/success/paddle.device.is_compiled_with_cinn/1.py
src/paddle-output/cuda-oracle/success/paddle.device.is_compiled_with_cuda/1.py
src/paddle-output/cuda-oracle/success/paddle.device.is_compiled_with_mlu/1.py
src/paddle-output/cuda-oracle/success/paddle.device.is_compiled_with_rocm/1.py
src/paddle-output/cuda-oracle/success/paddle.disable_signal_handler/1.py
src/paddle-output/cuda-oracle/success/paddle.distributed.get_rank/1.py
src/paddle-output/cuda-oracle/success/paddle.distributed.get_world_size/1.py
src/paddle-output/cuda-oracle/success/paddle.distributed.init_parallel_env/1.py
src/paddle-output/cuda-oracle/success/paddle.distributed.is_initialized/1.py
src/paddle-output/cuda-oracle/success/paddle.distribution.register_kl/1.py
src/paddle-output/cuda-oracle/success/paddle.enable_static/1.py
src/paddle-output/cuda-oracle/success/paddle.full/1.py
src/paddle-output/cuda-oracle/success/paddle.get_cuda_rng_state/1.py
src/paddle-output/cuda-oracle/success/paddle.get_flags/1.py
src/paddle-output/cuda-oracle/success/paddle.hub.help/1.py
src/paddle-output/cuda-oracle/success/paddle.iinfo/1.py
src/paddle-output/cuda-oracle/success/paddle.incubate.autograd.disable_prim/1.py
src/paddle-output/cuda-oracle/success/paddle.is_grad_enabled/1.py
src/paddle-output/cuda-oracle/success/paddle.is_tensor/1.py
src/paddle-output/cuda-oracle/success/paddle.ones/1.py
src/paddle-output/cuda-oracle/success/paddle.randint/1.py
src/paddle-output/cuda-oracle/success/paddle.randn/1.py
src/paddle-output/cuda-oracle/success/paddle.seed/1.py
src/paddle-output/cuda-oracle/success/paddle.set_default_dtype/1.py
src/paddle-output/cuda-oracle/success/paddle.set_printoptions/1.py
src/paddle-output/cuda-oracle/success/paddle.static.data/1.py
src/paddle-output/precision-oracle/fail/paddle.audio.functional.create_dct/1.py
src/paddle-output/precision-oracle/fail/paddle.audio.functional.get_window/1.py
src/paddle-output/precision-oracle/fail/paddle.audio.functional.mel_frequencies/1.py
src/paddle-output/precision-oracle/fail/paddle.audio.load/1.py
src/paddle-output/precision-oracle/fail/paddle.distribution.register_kl/1.py
src/paddle-output/precision-oracle/fail/paddle.full/1.py
src/paddle-output/precision-oracle/fail/paddle.get_flags/1.py
src/paddle-output/precision-oracle/fail/paddle.hub.help/1.py
src/paddle-output/precision-oracle/fail/paddle.iinfo/1.py
src/paddle-output/precision-oracle/fail/paddle.incubate.autograd.disable_prim/1.py
src/paddle-output/precision-oracle/fail/paddle.nn.Upsample/1.py
src/paddle-output/precision-oracle/fail/paddle.ones/1.py
src/paddle-output/precision-oracle/fail/paddle.randint/1.py
src/paddle-output/precision-oracle/fail/paddle.randn/1.py
src/paddle-output/precision-oracle/fail/paddle.static.data/1.py
src/paddle-output/precision-oracle/success/paddle.audio.backends.get_current_backend/1.py
src/paddle-output/precision-oracle/success/paddle.audio.backends.list_available_backends/1.py
src/paddle-output/precision-oracle/success/paddle.audio.functional.fft_frequencies/1.py
src/paddle-output/precision-oracle/success/paddle.device.get_all_custom_device_type/1.py
src/paddle-output/precision-oracle/success/paddle.device.get_all_device_type/1.py
src/paddle-output/precision-oracle/success/paddle.device.get_available_device/1.py
src/paddle-output/precision-oracle/success/paddle.device.get_cudnn_version/1.py
src/paddle-output/precision-oracle/success/paddle.device.get_device/1.py
src/paddle-output/precision-oracle/success/paddle.device.is_compiled_with_cinn/1.py
src/paddle-output/precision-oracle/success/paddle.device.is_compiled_with_cuda/1.py
src/paddle-output/precision-oracle/success/paddle.device.is_compiled_with_mlu/1.py
src/paddle-output/precision-oracle/success/paddle.device.is_compiled_with_rocm/1.py
src/paddle-output/precision-oracle/success/paddle.disable_signal_handler/1.py
src/paddle-output/precision-oracle/success/paddle.distributed.get_rank/1.py
src/paddle-output/precision-oracle/success/paddle.distributed.get_world_size/1.py
src/paddle-output/precision-oracle/success/paddle.distributed.init_parallel_env/1.py
src/paddle-output/precision-oracle/success/paddle.distributed.is_initialized/1.py
src/paddle-output/precision-oracle/success/paddle.empty/1.py
src/paddle-output/precision-oracle/success/paddle.enable_static/1.py
src/paddle-output/precision-oracle/success/paddle.fft.fftfreq/1.py
src/paddle-output/precision-oracle/success/paddle.fft.rfftfreq/1.py
src/paddle-output/precision-oracle/success/paddle.get_cuda_rng_state/1.py
src/paddle-output/precision-oracle/success/paddle.is_grad_enabled/1.py
src/paddle-output/precision-oracle/success/paddle.linspace/1.py
src/paddle-output/precision-oracle/success/paddle.seed/1.py
src/paddle-output/precision-oracle/success/paddle.set_default_dtype/1.py
src/paddle-output/precision-oracle/success/paddle.set_grad_enabled/1.py
src/paddle-output/precision-oracle/success/paddle.set_printoptions/1.py
src/paddle-output/precision-oracle/success/paddle.to_tensor/1.py
src/paddle-output/precision-oracle/success/paddle.tril_indices/1.py
src/paddle-output/precision-oracle/success/paddle.triu_indices/1.py
src/paddle-output/precision-oracle/success/paddle.uniform/1.py
src/paddle-output/precision-oracle/success/paddle.zeros/1.py
